table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid gray;
}

h2 {
    border-bottom: 2px solid gray;
}

a {
    text-decoration: none;
}

a::after {
    content: ", ";
}